@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url("/images/anky.svg");
  background-position: top -30px right -200px;
  background-size: 120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.the-ocean p {
  margin-top: 12px;
}

#artContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
}

section p {
  margin-top: 8px;
}

.write-text {
  font-size: 33px;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  color: #26272d;
  margin-bottom: 14px;
}

.cta {
  color: #7e829b;
  size: 28px;
  font-weight: 300;
}

.newen-bar {
  background: rgb(249, 67, 140);
  background: linear-gradient(
    90deg,
    rgba(249, 67, 140, 1) 0%,
    rgba(255, 208, 141, 1) 100%
  );
}

.life-bar {
  background: gray;
}

.prompt {
  color: #f6468a;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

textarea {
  color: #131316;
  line-height: 2rem;
  font-size: 1.3rem;
}

.finish-button {
  border-color: #ff6881;
  color: #ff6881;
  text-align: center;
  padding: 16px;
  border: 2px;
  border-style: solid;
  border-radius: 8px;
  font-size: 20px;
}

.big-logo {
  height: 200vh;
  width: 50vw;
  right: 0;
  position: absolute;
  top: -200px;
}

.main-content-layout {
  min-height: 100vh;
  width: 100%;
  height: fit-content;
  padding-bottom: 24px;
  max-width: 400px;
  margin: auto;
}

.main-content-layout h1 {
  font-size: 3rem;
  text-align: center;
}

.main-content-layout p {
  margin-top: 8px;
  text-align: left;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes stream-text {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.stream-in-text {
  animation: stream-text 1s steps(50) 1 forwards;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  visibility: visible;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
